## Проект 1. Кто хочет стать миллионером.

In [1]:
import numpy as np
import pandas as pd
from collections import Counter
import collections
import itertools
from datetime import datetime

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
468,tt1341188,120000000,48668907,How Do You Know,Reese Witherspoon|Paul Rudd|Owen Wilson|Jack N...,James L. Brooks,How do you know it's love?,After being cut from the USA softball team and...,121,Comedy|Drama|Romance,Columbia Pictures|Gracie Films|Road Rebel,12/17/2010,4.9,2010
226,tt2247476,15000000,30127963,When the Game Stands Tall,Jim Caviezel|Michael Chiklis|Laura Dern|Clancy...,Thomas Carter,"Its Not How Hard You Fall, Its How You Get Bac...",A young coach turns a losing high school footb...,115,Drama,Mandalay Pictures|Affirm Films,8/22/2014,6.2,2014
1224,tt0481499,135000000,585178928,The Croods,Nicolas Cage|Emma Stone|Ryan Reynolds|Catherin...,Kirk De Micco|Chris Sanders,Meet the first modern family.,The Croods is a prehistoric comedy adventure t...,98,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks Animation,3/20/2013,6.8,2013
233,tt3014666,5000000,10429707,Moms' Night Out,Sarah Drew|Sean Astin|Patricia Heaton|Logan Wh...,Andrew Erwin|Jon Erwin,What could go wrong?,"Yearning for an evening without their kids, so...",98,Comedy,TriStar Pictures|Provident Films|Pure Flix Ent...,3/25/2014,5.7,2014
1272,tt2334873,18000000,97505481,Blue Jasmine,Cate Blanchett|Alec Baldwin|Sally Hawkins|Bobb...,Woody Allen,Blue Moon. I used to know the words. Now they'...,Jasmine French used to be on the top of the he...,98,Comedy|Drama,Perdido Productions,7/25/2013,6.9,2013

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
data['profit']=data['revenue']-data['budget']
data['cast']=data['cast'].str.split('|')
data['genres']=data['genres'].str.split('|')
data['director_old']=data['director']
data['director']=data['director'].str.split('|')
data['production_companies']=data['production_companies'].str.split('|')
data['release_date']=pd.to_datetime(data['release_date'])
data['month']=data['release_date'].dt.month

# 1. У какого фильма из списка самый большой бюджет?

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
answer1=data[data.budget==data['budget'].max()]
answer1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,director_old,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2011-05-11,6.3,2011,641683000,Rob Marshall,5

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [8]:
answer2=data[data.runtime==data['runtime'].max()]
answer2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,director_old,month
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2003-02-21,5.8,2003,-43076064,Ronald F. Maxwell,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [10]:
answer3=data[data.runtime==data['runtime'].min()]
answer3

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,director_old,month
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...",2011-04-13,6.8,2011,-15540000,Stephen Anderson|Don Hall,4

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = 110

In [12]:
answer4=round(data['runtime'].mean())
answer4

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = 107

In [14]:
answer5=data['runtime'].quantile()
answer5

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
answers['6'] = 'Avatar (tt0499549)'

In [16]:
answer6=data[data.profit==data['profit'].max()]
answer6

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,director_old,month
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",2009-12-10,7.1,2009,2544505847,James Cameron,12

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [18]:
answer7=data[data.profit==data['profit'].min()]
answer7

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,director_old,month
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090,Gore Verbinski,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = 1478

In [20]:
answer8=data[data.profit>0].count()
answer8

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
director_old            1478
month                   1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [22]:
max9=data[data.release_year==2008].revenue.max()
answer9=data[data.revenue==max9]
answer9

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,director_old,month
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825,Christopher Nolan,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [24]:
min10=data[(data.release_year>=2012)&(data.release_year<=2014)].profit.min()
answer10=data[data.profit==min10]
answer10

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,director_old,month
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090,Gore Verbinski,7

# 11. Какого жанра фильмов больше всего?

In [25]:
answers['11'] = 'Drama'

ВАРИАНТ 1

In [26]:
data1=pd.read_csv('movie_bd_v5.csv')
collections.Counter(data1['genres'].str.cat(sep='|').split('|')).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [27]:
data2=data.explode('genres')
data2.groupby(['genres'])['original_title'].count().sort_values(ascending=False).head(1)

genres
Drama    782
Name: original_title, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
answers['12'] = 'Drama'

In [29]:
data12=pd.read_csv('movie_bd_v5.csv')
data12['profit']=data12['revenue']-data12['budget']
data12=data12[data12.profit>0]
collections.Counter(data12['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [30]:
answers['13'] = 'Peter Jackson'

In [31]:
data_director=data.explode('director')
data_director.groupby(['director'])['revenue'].sum().sort_values(ascending = False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
answers['14'] = 'Robert Rodriguez'

In [33]:
data_director=data.explode('director')
data_da=data_director.explode('genres')
data14=data_da[data_da['genres']=='Action']
data14.groupby(['director'])['revenue'].count().sort_values(ascending = False).head(1)

director
Robert Rodriguez    9
Name: revenue, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
answers['15'] = 'Chris Hemsworth'

In [35]:
data_cast=data.explode('cast')
data15=data_cast[data_cast['release_year']==2012]
data15.groupby(['cast'])['revenue'].sum().sort_values(ascending = False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
answers['16'] = 'Matt Damon'

In [37]:
data1=data[data['budget']>data['budget'].mean()]
x=[]
for a in data1.index:
        x=x+data1['cast'][a]     
    
import collections
c = collections.Counter()
for category in x:
    c[category] += 1
c.most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
answers['17'] = 'Action'

In [39]:
x=[] 
for a in data.index:
    if 'Nicolas Cage' in data['cast'][a]:
        x=x+data['genres'][a]     
    else:
        continue
import collections
c = collections.Counter()
for category in x:
    c[category] += 1
c.most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [41]:
data_comp=data.explode('production_companies')
data18=data_comp[data_comp['production_companies']=='Paramount Pictures']
data18[data18['profit']==data18['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,director_old,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures,2002-07-19,6.0,2002,-64831034,Kathryn Bigelow,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
answers['19'] = 2015

In [43]:
data19=data.groupby('release_year').sum()
data19[data19.revenue==data19.revenue.max()]

,budget,revenue,runtime,vote_average,profit,month
release_year,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,842

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
answers['20'] = 2014

ВАРИАНТ 1

In [45]:
data_comp1=data.explode('production_companies')
data20=data_comp1.pivot_table(columns='release_year',index='production_companies',values='profit',aggfunc='sum')
data20[1705:1709].sum().sort_values(ascending=False).head(1)

release_year
2014    2.292950e+09
dtype: float64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
answers['21'] = 'Сентябрь'

In [47]:
data21=data.groupby('month').count()
data21[data21.original_title==data21.original_title.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,director_old
month,,,,,,,,,,,,,,,,
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
answers['22'] = 450

In [49]:
data22=data[(data['month']>5)&(data['month']<9)]
data22.release_date.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
answers['23'] = 'Peter Jackson'

ВАРИАНТ 1

In [51]:
data_winter=data[(data['month']==12)|(data['month']<3)]
data23=data_winter.explode('director')
data23.groupby(['director'])['original_title'].count().sort_values(ascending=False).head(1)

director
Peter Jackson    7
Name: original_title, dtype: int64

ВАРИАНТ 2

In [52]:
data23=data[(data['month']==12)|(data['month']<3)]
collections.Counter(data23['director_old'].str.cat(sep = '|').split('|')).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
answers['24'] = 'Four By Two Productions'

In [54]:
data['len_film']=data['original_title'].apply(lambda x: len(x))
data24=data.explode('production_companies')
data24.groupby(['production_companies'])['len_film'].mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: len_film, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
answers['25'] = 'Midnight Picture Show'

In [56]:
data['len_overview']=data['overview'].apply(lambda x: len(x))
data25=data.explode('production_companies')
data25.groupby(['production_companies'])['len_overview'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    1000.0
Name: len_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [58]:
data26=data.sort_values(by=['vote_average'], ascending=False,ignore_index=True)
ls26=data26['original_title'][0:18] # 1% это 18 фильмов
ls26

0                                   The Dark Knight
1                                      Interstellar
2                                The Imitation Game
3                                        Inside Out
4                                              Room
5                           The Wolf of Wall Street
6                                         Gone Girl
7                                  12 Years a Slave
8                           Guardians of the Galaxy
9     The Lord of the Rings: The Return of the King
10                                          Memento
11                                        Inception
12                                      The Pianist
13                         The Grand Budapest Hotel
14                                              Her
15                                        Spotlight
16                                       Big Hero 6
17                           The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [59]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [60]:
spisok_par=[] 
for i in data.index:
    x = list(itertools.combinations(data['cast'][i], 2))
    b = len(x)
    for j in range(0,b):
        spisok_par.append(x[j])
collections.Counter(spisok_par).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [61]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

27